footer{
    text-align: center;
    padding: 3px;
    background-color: $p-dark;
    color: $p-text;
    position: absolute;
    width: 100vw;
    bottom: 0;
    a{
        text-decoration: none;
        color: $p-text;
    }
}